@import '../../variables';

$needs-extra-vertical-space: "(max-aspect-ratio: #{$landscape-min-aspect-ratio}) and (min-aspect-ratio: 1/2)";

.playing-cards-deck {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: background-color 0.3s;
    width: 100%;
    pointer-events: none;
    z-index: 50;

    &--open {
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: all;
    }

    &__card-preview {
        position: relative;
        align-items: center;
        display: flex;
        flex-grow: 1;
        max-width: 600px;
        margin: 0 auto;

        &, > * {
            width: 100%;
        }
    }

    .card-preview__wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .avatar {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        pointer-events: none;
    }

    &__list {
        position: relative;
        pointer-events: all;

        .playing-card {
            transition: margin-top 0.3s, box-shadow 0.3s;
        }

        .playing-card--selected {
            margin-top: -1rem;
        }

        transition: transform 0.3s;
    }

    &--closed &__card-preview {
        visibility: hidden;
    }
}
