@import '../../variables';

.player-deck {

    &__reference {

        position: absolute;
        top: calc(100% - 40px);
        left: 0;
        width: 100%;
        pointer-events: none;

        > * {
            pointer-events: all;
        }

        z-index: 2000;

        --card-width: max(60px, min(26vmin, 180px));
        --card-height: max(100px, min(40vmin, 300px));
        --offset: max(30px, min(10vmin, 120px));

        .playing-cards-set {
            --playing-cards-set__cards-overlap-x: calc(var(--card-width) - var(--offset));
            --playing-cards-set__cards-overlap-y: calc(var(--card-height) - var(--offset));

            .playing-card {
                width: var(--card-width);
                height: var(--card-height);
                font-size: unquote("max(1em, min(4vmin, 2em))");
            }
        }
    }

    &--open &__reference {
        .playing-card--selected {
            margin-top: -1em;
        }
    }

    &__selector {
        --card-width: max(60px, min(30vmin, 200px));
        --card-height: max(100px, min(55vmin, 360px));
        --offset: max(30px, min(10vmin, 60px));

        .playing-cards-set {
            --playing-cards-set__cards-overlap-x: calc(var(--card-width) - var(--offset));
            --playing-cards-set__cards-overlap-y: calc(var(--card-height) - var(--offset));

            .playing-card {
                width: var(--card-width);
                height: var(--card-height);
                font-size: unquote("max(1.25em, min(5vmin, 2.25em))");
            }
        }
    }
}
