@import '../../variables';

.player-deck {

    &__reference {

        position: absolute;
        top: calc(100% - 40px);
        left: 0;
        width: 100%;
        pointer-events: none;

        > * {
            pointer-events: all;
        }

        z-index: 2000;

        --card-width: clamp(60px, 26vmin, 180px);
        --card-height: clamp(100px, 40vmin, 300px);
        --offset: clamp(30px, 10vmin, 3em);

        .playing-cards-set {
            --playing-cards-set__cards-overlap-x: calc(var(--card-width) - var(--offset));
            --playing-cards-set__cards-overlap-y: calc(var(--card-height) - var(--offset));

            .playing-card {
                width: var(--card-width);
                height: var(--card-height);
                font-size: clamp(1em, 4vmin, 2em);
            }
        }
    }

    &--open &__reference {
        .playing-card--selected {
            margin-top: -1em;
        }
    }

    &__selector {
        --card-width: clamp(60px, 30vmin, 200px);
        --card-height: clamp(100px, 55vmin, 360px);
        --offset: clamp(30px, 10vmin, 3em);

        .playing-cards-set {
            --playing-cards-set__cards-overlap-x: calc(var(--card-width) - var(--offset));
            --playing-cards-set__cards-overlap-y: calc(var(--card-height) - var(--offset));

            .playing-card {
                width: var(--card-width);
                height: var(--card-height);
                font-size: clamp(1.25em, 5vmin, 2.25em);
            }
        }
    }
}
