@import '../../variables';

.board {
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    --row-count: auto;
    --col-count: 1;

    grid-template-rows: repeat(var(--row-count), var(--grid-square-size));
    grid-template-columns: repeat(var(--col-count), var(--grid-square-size));

    &--2-players {
        grid-template-areas:
            'avatar-1'
            'avatar-2';
    }

    &--4-players, &--3-players {
        grid-template-areas:
            'avatar-1 avatar-2'
            'avatar-4 avatar-3';
    }

    &--5-players, &--6-players {
        grid-template-areas:
            'avatar-1 avatar-2'
            'avatar-6 avatar-3'
            'avatar-5 avatar-4';
    }

    &--landscape#{&}--2-players {
        grid-template-areas:
            'avatar-1 avatar-2';
    }

    &--landscape#{&}--5-players, &--landscape#{&}--6-players {
        grid-template-areas:
            'avatar-1 avatar-2 avatar-3'
            'avatar-6 avatar-5 avatar-4';
    }

    .avatar {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    @for $number from 1 through $players__max-count {
        .avatar:nth-child(#{$number}) {
            grid-area: avatar-#{$number};
        }
    }
}
