@import '../../variables';

.score-board {

    .avatar {
        text-overflow: ellipsis;
        overflow: hidden;

        @media (min-width: 600px) {
            max-width: 30vw;
        }
    }

    .MuiTableCell-root:not(.avatar) {
        max-width: 150px;
    }

    @media (max-width: 600px) {
        .MuiTableCell-root {
            padding: 16px 8px;
        }
    }
}
