.playing-cards-set {
    position: relative;

    &, &__actions {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__cards {
        display: flex;
    }

    &--grid &__cards {
        display: grid;
        grid-template-columns:repeat(2, calc((100% - 10px) / 2));
        gap: 10px;
        max-width: 100%;

        @media (min-aspect-ratio: 1/1) {
            grid-template-columns:repeat(3, calc((100% - 20px) / 3));
        }
    }

    &__actions {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 15;
        pointer-events: none;

        > * {
            pointer-events: all;
        }
    }

    // this is so that the z-index applies
    &__card-wrapper {
        position: relative;
    }

    &--stacked &__cards {
        margin-left: var(--playing-cards-set__cards-overlap-x, 1em);
        margin-top: var(--playing-cards-set__cards-overlap-y, 2em);
        flex-wrap: wrap;
    }

    &--stacked &__card-wrapper {
        margin-left: calc(-1 * var(--playing-cards-set__cards-overlap-x, 1em));
        margin-top: calc(-1 * var(--playing-cards-set__cards-overlap-y, 2em));
    }

    &__card-wrapper:last-child {
        z-index: 10;
    }
}
