@import '../../variables';

.game-board {

    &__avatar-content {
        width: 100%;

        --offset: max(2rem, min(10vmin, 100px));

        --card-width: calc((var(--grid-square-size) - var(--offset)) * 0.6);
        --card-height: calc((var(--grid-square-size) - var(--offset)));

        .playing-cards-set {
            --playing-cards-set__cards-overlap-x: calc(var(--card-width) - 2em);
            --playing-cards-set__cards-overlap-y: calc(var(--card-height) - 2em);

            .playing-card {
                width: var(--card-width);
                height: var(--card-height);
            }

            .marker {
                font-size: unquote("max(1em, min(8vmin, 3em))");
            }
        }
    }
}
